@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;700;800&display=swap");
:root {
  --blue: #13adcc;
  --green: #15d676;
  --orange: #ff8a14;
  --red: #ee5858;
}

* {
  box-sizing: border-box;
}

a {
  font-family: sora, Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

body {
  margin: 0px;
  font-family: sora, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: sora, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1rem;
  margin-top: 3%;
  background: none;
  border: 2px solid black;
}

button:hover {
  background-color: black;
  color: white;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav > * {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  list-style: none;
  margin: 0px;
  padding: 20px;
}

.mobileNav {
  display: none;
}
.mobileNavBtn {
  display: none;
}

.contentHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  gap: 40px;
  height: 100vh;
}

.background-img {
  position: absolute;
  z-index: -100;
  right: 0;
}

select {
  appearance: none;
  max-height: fit-content;
  padding: 5px;
  background: none;
  border: none;
  text-align: end;
  font-size: 16px;

  background-image: url("arrowDown.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px; /* Adjust size as needed */
  padding-right: 20px;
}

input {
  height: fit-content;
  padding: 5px;
  text-align: end;
  font-size: 16px;
}

h5 {
  margin: 5px;
}

p {
  margin: 0;
}

.intro {
  flex: 1;
  max-width: 40%;
}
/* -------- INPUT INFORMATION -------- */
.calculatorContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 650px;
}

.inputTable {
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 5px;
  box-shadow: -34px 0px 47px -23px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: -34px 0px 47px -23px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -34px 0px 47px -23px rgba(0, 0, 0, 0.18);
}

.calculatorContainer table tr {
  border-bottom: 2px solid rgb(241, 241, 241);
  display: flex;

  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.calculatorContainer option {
  overflow-wrap: break-word;
}
.calculatorContainer th {
  padding: 5px 15px;
  border-bottom: none;
}

.calculatorContainer table td {
  padding: 5px 15px;
}

.calculatorContainer table tr.info {
  border-bottom: 0;
}

.calculatorContainer table tr.info td {
  padding: 0;
  text-align: center;
}

.info {
  background-color: rgb(234, 234, 234);
}

.infoBox {
  display: none;
  padding: 10px;
  font-size: 14px;
}

.infoBox p {
  padding: 10px;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block: 10px;
}

input {
  background: none;
  border: none;
}

.inputValues {
  display: flex;
  align-items: center;
  margin-block: auto;
}

.factor {
  display: inline-block;
}

/*---------- STYLE RESULTCONTAINER ----------*/
.resultContainer {
  display: none;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.resultContainer h3 {
  margin-block: 10px;
  text-align: start;
}
.resultContainer td {
  padding: 15px 15px !important;
}

.resultTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: -34px 0px 47px -23px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: -34px 0px 47px -23px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: -34px 0px 47px -23px rgba(0, 0, 0, 0.18);
}

table.resultTable tr {
  width: 100%;
  min-width: 650px;
  max-width: 100%;
  display: table-row;
}

table.resultTable td:last-child {
  text-align: right;
}

#bmiValue {
  font-weight: 600;
}

/* --------- BUTTONS -------- */

.reset {
  display: none;
}
.calcBtn {
  display: inline-block;
}
